<header id="appHeader">
    <ul id="h-ul">
        <li class="h-li">
            <a routerLink="/" class="h-a">Home</a>
        </li>
        <li class="h-li" routerLink="/workspace">
            <a routerLink="/workspace" class="h-a">Workspace</a>
        </li>
        <li class="h-li">
            <a routerLink="/aboutme" class="h-a">About me</a>
        </li>
        <li class="h-li">
            <a routerLink="/contact" class="h-a">Contact</a>
        </li>
    </ul>
</header>