h1 {
    font-weight: bold;
}

header {
    background-color: #CBCBCB;
    color: black;
    opacity: 0;
    transition: background-color 1s ease-in-out, color 1s ease-in-out, opacity 1s ease-in-out;
}

header.fade-in {
    background-color: black;
    color: #CBCBCB;
    opacity: 1;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow: hidden;
}

#h-ul {
    flex-wrap: wrap;
    display: flex;
    list-style: none;
    width: fit-content;
    padding: 0;
    height: 5rem;
    margin: 1rem auto;
    justify-content: center;
    transition: transform 1.2s ease, opacity 0.5s ease;
    align-items: center;

}

#h-ul.show {
    opacity: 1;
}

.h-li {
    color: white;
    font-weight: 700;
    width: fit-content;
    padding: 1rem;
    height: fit-content;
    border: 0px solid black;
    font-size: 1.5rem;
    transition: border 0.2s ease-in-out, opacity 0.1s ease-in-out, scale 0.2s ease-in-out;
}

.h-li:hover {
    cursor: pointer;
    border: none;
    border-bottom: 2px solid purple;
    scale: 1.05;
}

.h-a {
    text-decoration: none;
    color: inherit;
}